html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

::-webkit-scrollbar {
    width: 2%;
    height: 80%;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #DCDCDC;
}

#chat {
  height: 50%;
  width: 50%;
  border: 1px solid black;
  border-radius: 1%;
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.massages-container {
  height: 75%;
  width: 90%;
  border: 1px solid black;
  border-radius: 1%;
  margin-top: 4%;
  margin-bottom: 2%;
  overflow: auto;
}

.massages-container>p {
  padding: 1%;
  margin: 0;
}

.text-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.text {
  width: 70%;
}

.text>#massage-to-send {
  width: 100%;
}

.button>#send-massage:hover, .button>#bell:hover {
  cursor: pointer;
}

.date-class {
  color: #A9A9A9;
  font-size: 70%;
}
